@import "tailwindcss";

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-slow-spin {
    animation: slow-spin 10s linear infinite;
}



/* tailwind-compatible global CSS */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}


/* globals.css or any imported global CSS file */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #B08CE1; /* Tailwind's gray-600 */
  border-radius: 9999px;
  border: 2px solid #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #B08CE1; /* gray-400 */
}
